npm-debug.log
logs/*.log
node_modules
pids/dev/*.pid
pids/test/*.pid
pids/omnibox/*.pid
pids/staging/*.pid
pids/production/*.pid
sockets/dev/*.sock
sockets/test/*.sock
sockets/omnibox/*.sock
sockets/staging/*.sock
sockets/production/*.sock
config/environments/development/settings.js
config/environments/test/settings.js
theme
scratch
.DS_Store
.svn
