<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height: 100% }
    </style>
    <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCGscU7_BV_Faiodr9_UfxeF92GO5ljFoM&sensor=false">
    </script>
    <script type="text/javascript" src="geoxml3/geoxml3.js"></script>
  </head>
  <body>
    <div id="map_canvas" style="width:80%; height:100%; float: left; position: relative;"></div>
    <div id="contentWindow" style="width:20%; height:100%; float: left;"></div>
    <script src="gmaps.js"></script>
  </body>
</html>

